<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
     <form action = "/contato" method="post">
        <h2>Entre em Conato</h2>
        <div>
            <label for = "nameC">Informe o seu nome:</label>
            <input type="text" name="nameC" id= "nameC" required>
        </div>
         <div>
            <label for = "email">Informe o seu email:</label>
            <input type="email" name="email" id= "email" required>
        </div>
         <div>
            <label for = "assunto">Informe o assunto:</label>
            <input type="text" name="assunto" id= "assunto" required>
        </div>
         <div>
            <label for = "mensagem">Informe a mensagem:</label>
            <input type="text" name="mensagem" id= "mensagem" required>
        </div>
        <button type="submit">Enviar</button>
    </form>
      <a href="/">Voltar para o início</a>
</body>
</html>